beautifulsoup4==4.6.0
bs4==0.0.1
certifi==2017.7.27.1
html5lib==0.9999999
jedi==0.11.1
jieba==0.38
lxml==4.1.1
matplotlib==1.5.3
pandas==0.21.1
redis
requests>=2.20.0
schedule==0.4.2
selenium
sha1==1.2
urllib3==1.24
wordcloud==1.3.1
xlrd==1.1.0
XlsxWriter==1.0.2
xlwt==1.3.0