{
  "explanation": "请仔细修改本配置文件，并修改文件名为user_info.json; username: 用户QQ号;password: 用户密码;file_name_dead: 文件名开头，用于保存文件时区分不同的用户",
  "username":"120000000",
  "password":"XXXXXXXX",
  "nick_name": "maicius"
}
