.wrapper {
    background-color: #c0c0c0;
    min-height: 100vh;
}

.main_container {
    text-align: center;
    display: block;
    background: #eee8d8;
    margin: 0 auto;
    position: relative;
    height: auto;
    min-height: 100vh;
}

.large_dom {
    width: 100%;
    height: 700px;
}

.welcome {
    font-size: 16px;
    background: #eee8d8;
    text-align: center;
}

.highlight-keyword {
    font-size: 18px;
}

.my_form {
    margin: 20px auto;
    text-align: center;
}

.label_text {
    margin-top: 10px;
    cursor: pointer;
}

.my_card {
    text-align: center;
    position: relative;
    margin: 10px auto;

}

.show_spider_info {
    height: 30vh;
    overflow-y: scroll;
}

.danger {
    color: red;
}

.my_process {
    margin: 20px auto;
}

.spider_phase {
    margin-top: 50px;
}

.spider_finish {
    margin: 20px auto;
    text-align: center;
}

.btn_href {
    color: white;
    cursor: pointer;
}

.qr_container {
    margin: 10px auto;
}

.qr_container img {
    width: 80%;
}
.cloud_img {
    margin: 10px auto;
}

.cloud_img img{
    width: 100%;
}
.download_button {
    margin: 10px auto;
    text-align: center;
    padding: 10px;
    display: block;
}