.wrapper{
    background-color: #c0c0c0;
}
.main_container {
    text-align: center;
    display: block;
    background: #eee8d8;
    margin:0 auto;
    position: relative;
    height: 100vh;
}

.large_dom {
    width: 100%;
    height: 700px;
}
.welcome {
    font-size: 16px;
}

.highlight-keyword {
    font-size: 18px;
}

.my_form {
    margin-top: 20px;
    text-align: center;
}

.label_text {
    margin-top: 10px;
    cursor: pointer;
}

.my_card {
    text-align: center;
    position: relative;
    margin: 10px auto;
}
.danger {
    color: red;
}